.submit-textbox {
    @extend .full;
    font-size: calc(1em + 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    & input{
        border: none;
        height: 30%;
        margin: 0;
    }
    & input[type="text"]{
        color: red;
        width: 80%;
    }
    & input[type="submit"]{
        color: blue;
        width: 10%;
    }
}

.layout-mid{
    display: grid; 
    justify-content: center;
    align-items: center;
    gap: .6%;
    grid-template-columns: repeat(6, 16%);
}

.layout-topright{
    display: grid;
    gap: 3%; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 30%);
}

.btn-calc{
    @extend .full;
}